@font-face {
    font-family: "Marvel";
    src: url("Marvel-Regular.woff2");
}

.pageTitle {
    font-family: "Marvel", sans-serif;
    font-size: 3.5rem;
    border: 0.125rem dashed;
    background-color: rgb(255, 239, 216);
    text-shadow: 1px 1px 3px rgba(247, 112, 22, 0.4);
    position: relative;
    top: 0.5rem;
    width: 9em;
    display: inline-block;
}


.pageLink {
    font-size: 2.25rem;
    font-family: "Marvel", sans-serif;
    border: 0.1rem dashed;
    padding: 2px;
    background-color: rgb(255, 239, 216);
    text-shadow: 1px 1px 3px rgba(247, 112, 22, 0.4);
    position: relative;
    top: -3.5rem;
    left: 33rem;
    min-width: 3rem;
    display: inline-block;
    height: 2.2rem;
}

.square {
    width: 50px;
    height: 2.2rem;
    background-color: aqua;
}

@keyframes buttonFill {
    0%{
        width: 0rem;
    }
    100% {
        width: 5rem;
    }
}

.square:hover{
    animation-name: buttonFill;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    background-color: rgb(245, 201, 136);
}

.pageAboutTitle {
    font-size: 2.5rem;
    font-family: "Marvel", sans-serif;
    border-bottom: 0.05rem dashed;
    position: relative;
    top: 0.75rem;
    left: 0rem;
    display: inline-block;
    
}

.pageAboutText {
    font-size: 2rem;
    font-family: "Marvel", sans-serif;
    padding: 5px 5px 5px 0px;
    width: 20rem;
}

.pageProjectsTitle {
    font-size: 2.5em;
    font-family: "Marvel", sans-serif;
    border-bottom: 0.05rem dashed;
    position: relative;
    top: 0.75rem;
    display: inline-block;
    
}

.pageContactTitle {
    font-size: 2em;
    font-family: "Marvel", sans-serif;   
    border-bottom: 0.05rem dashed;
    position: relative;
    top: 0.75rem;
    display: inline-block;
    
}

body {
    background-color: rgb(252, 222, 181);
    
}

